<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
    declaro los permisos que uso, aparecen en la ficha de la tienda
    y al usuario en el momento de la instalación
    -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- permite lanzar notificaciones a la app -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- ejecutar proceso servicio en segundo plano -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" /> <!-- ejecutar proceso servicio en segundo plano -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- declaramos un permiso personalizado con protección normal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- necesario para comprobar si hay conexión, y qué tipo -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- necesario para comprobar si hay conexión, y qué tipo -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- para permitir escuchar el inicio del teléfono -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- para poder usar la cámara fotos o videos -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!--para poder acceder al gps -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!--para poder acceder al gps -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- con el valor a true exijo que los dispositivos tengan cámara para poder instalar esta app -->
    <permission
        android:name="edu.vmg.cntgsecux.PERMISO_APP"
        android:label="permiso_personalizado"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/baseline_arrow_circle_down_24"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CNTGSECUX"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="CONSIGUE_TU_CLAVE" />

        <activity
            android:name=".mapas.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".basedatos.BaseDatosActivity"
            android:exported="false" />
        <activity
            android:name=".foto.FotoActivity"
            android:exported="false" />
        <activity
            android:name=".persistenciavector.SpinnerVisibilityActivity"
            android:exported="false" />

        <receiver
            android:name=".alarmadespertador.FinServicioReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".alarmadespertador.ServicioNumeroAleatorio"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".alarmadespertador.AlarmaReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".alarmadespertador.InicioMovilReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".preferences.BienvenidaActivity"
            android:exported="false" />
        <activity
            android:name=".preferences.FormularioPreferenciasActivity"
            android:exported="false" />

        <receiver
            android:name=".descargacanciones.DescargaReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".descargacanciones.DescargaCancionesActivity"
            android:exported="false"
            android:label="Descarga Canciones" />
        <activity
            android:name=".contacto.SeleccionContactoPermisos"
            android:exported="false" />
        <activity
            android:name=".contacto.SeleccionContacto"
            android:exported="false" /> <!-- esta actividad se puede lanzar desde fuera de la app -->
        <!-- protegemos a la actividad con este permiso -->
        <activity
            android:name=".permisosbasicos.ActividadUno"
            android:exported="true"
            android:permission="edu.vmg.cntgsecux.PERMISO_APP">
            <intent-filter>
                <action android:name="edu.vmg.cntgsecux.Saludo" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- con este atributo, permito usar esta pantalla/actividad desde fuera de la app -->
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="edu.vmg.cntgsecux"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ruta_provider" />
        </provider>
    </application>

</manifest>